.tournamentImage {
  background: var(--card-color);
  border-radius: 8px;
}

.userProfilePic {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: var(--card-color);
  border-radius: 50px;
}

.username {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--text-inactive);
}

.tournamentInfo {
  /* margin-left: 30px; */
}

.tournamentTitle {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 500;
}

.description {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: var(--text-inactive);
}
