.title {
    font-size: 40px;
    font-weight: 300;
    /* padding: 10px; */
    /* padding-left: 20px; */
}

.container {
    margin: 30px;
    margin-top: 0px;
    /* display: grid; */
    /* display: flex; */
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    grid-template-rows: 1fr;
}