.title {
    font-size: 72px;
    line-height: 127.5px;
    margin-left: 50px;
}

.landingContainer {
    margin-top: 225px;
    margin-left: 50px;
    width: 582px;
    font-size: 32px;
    font: poppins;
}

.login {
    margin-left: 50px;
    margin-top: 20px;
}

.loginSpan {
    font-size: 36px;
}

.container {
    color: black;
    background-color: #FFFF64;
    width: 100vw;
    min-height: 100vh;
    /* font-family: Fira-Sans; */
}