.container {
    /* margin: 30px; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    padding: 20px;
  }

  .featuredTournaments {
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10px;
  }

  .tournamentCard {
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--card-color);
    transition: 0.2s ease-in all;
    width: 180px;
    height: 120px;
  }
  
  .tournamentCard:hover {
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--main-color);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--main-color);
    box-shadow: inset 0px 0px 0px 2px var(--main-color);
  }

  .tabTitle {
    cursor: pointer;
    user-select: none;
    color: var(--text-inactive);
    font-size: 16px;
    font-weight: bold;
    grid-row: 1;
    padding: 30px;
  }
  
  .tabTitle:hover {
    color: var(--primary-text);
  }